<canvas id="myChart"></canvas>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        datasets: [{
            label: 'Week statistic for all years.',
            data: {{data_week}},
            backgroundColor: [
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600'
            ],
            borderColor: [
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600',
                '#cc6600'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
